body {
    font-family: sans-serif;
    background: #eee;
}

a, h1, h2 {
    color: #377ba8;
}

h1, h2 {
    font-family: 'Georgia', serif;
    margin: 0;
}

h1 {
    border-bottom: 2px solid #eee;
}

h2 {
    font-size: 1.2em;
}

dl.inline-flex {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 300px; /* set the container width*/
    overflow: visible;
}

dl.inline-flex dt {
    flex: 0 0 50%;
    text-overflow: ellipsis;
    overflow: hidden;
}

dl.inline-flex dd {
    flex: 0 0 50%;
    margin-left: auto;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
}

#receipt button {
    width: 100%;
    height: 2.5em;
    border: 1px solid darkred;
    color: darkred;
    background-color: transparent;
    border-radius: 13px;
    cursor: pointer;
}

#finishProcess {
    width: 100%;
    height: 2.5em;
    border: 1px solid darkgreen;
    color: darkgreen;
    background-color: transparent;
    border-radius: 13px;
    cursor: pointer;
}

.page {
    margin: 2em auto;
    width: 95%;
    border: 5px solid #ccc;
    padding: 0.8em;
    background: white;
}

.entries {
    list-style: none;
    margin: 0;
    padding: 0;
}

.entries li {
    margin: 0.8em 1.2em;
}

.entries li h2 {
    margin-left: -1em;
}

.add-entry {
    font-size: 0.9em;
    border-bottom: 1px solid #ccc;
}

.add-entry dl {
    font-weight: bold;
}

.metanav {
    text-align: right;
    font-size: 0.8em;
    padding: 0.3em;
    margin-bottom: 1em;
    background: #fafafa;
}

.flash {
    background: #cee5F5;
    padding: 0.5em;
    border: 1px solid #aacbe2;
}

.error {
    background: #f0d6d6;
    padding: 0.5em;
}

.content {
    display: flex;
}

.items {
    display: grid;
    grid: repeat(3, 180px) / auto-flow 180px;
    flex-grow: 1;
}

.items > div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 140px;
    height: 140px;
}

.itemTitle {
    text-align: center;
    text-shadow: 0 0 13px #ffffff;
    font-size: large;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
}

#finishProcessTab {
    display: None;
    flex-grow: 1;
}

#dialPad {
    display: grid;
    grid: repeat(4, 60px) / auto-flow 60px;
}

#dialPad > button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 50px;
    height: 50px;
    font-size: 1.6em;
    border: 1px;
    border-radius: 3px;
}

#receivedSum {
    width: 114px;
    height: 40px;
    text-align: center;
    font-weight: 800;
    font-size: 20px;
}

#receivedFromCustomerRow {
    float: left;
}

#finishProcessTabTitle {
    font-size: 1.6em;
    margin-bottom: 20px;
}

#finishProcessRow {
    text-align: center;
}

#returnToAddItems {
    display: none;
    width: 100%;
    height: 2.5em;
    border: 1px solid darkgrey;
    color: darkgrey;
    background-color: transparent;
    border-radius: 13px;
    cursor: pointer;
}

#finishProcessRow > button {
    width: 60%;
    height: 2.5em;
    border: 1px;
    border-radius: 13px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

#resetInput {
    height: 45px;
}

#change {
    font-size: 3em;
    font-weight: 900;
    height: 60px;
}