{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
  <div class=content>
    <div class=items>
    {% for item in items %}
    <div
      {% if item.image_link %}class="itemTitle"
      style="
        background: url('../static/images/{{ item.image_link }}') no-repeat center;
        background-size: contain;"
      {% else %}
      class="itemTitle colorBlock" style="background-color: {{ item.color|safe }}"
      {% endif %}
      id={{ item.id }}>
      {{ item.title }}
    </div>
    {% else %}
    <div><em>Unbelievable. No items here so far</em></div>
    {% endfor %}
    </div>
    <div id="finishProcessTab">
  <div id="finishProcessTabTitle">
    To Pay: <span id="finishSum">0</span>
  </div>
  <div id="receivedFromCustomerRow">
  <div id="dialPad">

    <button data-number>1</button>
    <button data-number>4</button>
    <button data-number>7</button>
    <button id="decimalPoint">.</button>

    <button data-number>2</button>
    <button data-number>5</button>
    <button data-number>8</button>
    <button data-number>0</button>

    <button data-number>3</button>
    <button data-number>6</button>
    <button data-number>9</button>
    <button id="evaluateInput">=</button>

  </div>
  <button id="resetInput">Clear</button>
  <input id="receivedSum" type="text" min="0" step="any" title="Sum received">
  </div>

  <div id="finishProcessRow">
    <div id="change"></div>
    <button id="printCustomerReceipt">Print Customer Receipt</button>
    <br>
    <button id="printKitchenReceipt">Print Kitchen Receipt</button>
    <br>
    <button id="closeInteraction" type="submit">Next!</button>
  </div>
</div>
  <div id="rightRow">
    <ol id="receipt"></ol>

    <div id="customerRow">Customer: <span id="customer">{{ customer }} ({{ customer % 100 }})</span></div>
    <div id="sumRow">Sum: <span id="sum">0</span></div>
    <button id="finishProcess">Finish</button>
    <button id="returnToAddItems">Add more Items</button>
  </div>
  {% else %}
    <em>Not logged in.</em>
    </div>
  {% endif %}
{% endblock %}
