{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
  <div class=items>
  {% for item in items %}
  <div
               {% if item.image_link %}class="itemTitle"
      style="
              background-image: url('../static/images/{{ item.image_link }}');
              background-position: center;
              background-repeat: no-repeat;
              background-size: contain;"
          {% else %}
      class="itemTitle colorBlock" style="background-color: {{ item.color|safe }}"
          {% endif %}
      id={{ item.id }}>
  {{ item.title }}
  </div>
  {% else %}
  <div><em>Unbelievable.  No items here so far</em></div>
  {% endfor %}
  {% else %}
      <em>Not logged in.</em>
  {% endif %}
  </div>
<ol id="receipt"></ol>
{% endblock %}
